{
  "parser": "babel-eslint",
  "extends": ["airbnb", "react-app"],
  "plugins": ["react", "jsx-a11y", "import"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "import/order": "off",
    "react/prop-types": "off",
    "import/no-unresolved": "off",
    "react/forbid-prop-types": "off",
    "react/destructuring-assignment": "off",
    "react/prefer-stateless-function": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-boolean-value": [2, "never", { "always": ["exact"] }],
    "no-param-reassign": [2, { "props": false }],
    "comma-dangle": [2, "never"],
    "no-underscore-dangle": [
      2,
      {
        "allow": [
          "__PRELOADED_STATE__",
          "__REDUX_DEVTOOLS_EXTENSION__",
          "__REDUX_DEVTOOLS_EXTENSION_COMPOSE__"
        ]
      }
    ],
    "quotes": [
      2,
      "double",
      {
        "allowTemplateLiterals": true,
        "avoidEscape": true
      }
    ]
  }
}
