{
  "parser": "babel-eslint",
  "extends": ["airbnb", "react-app"],
  "plugins": ["react", "jsx-a11y", "import"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-console": "off",
    "import/order": "off",
    "import/no-unresolved": "off",
    "comma-dangle": ["error", "never"],
    "react/destructuring-assignment": "off",
    "react/prefer-stateless-function": "off",
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["__REDUX_DEVTOOLS_EXTENSION__"]
      }
    ],
    "quotes": [
      "error",
      "double",
      {
        "allowTemplateLiterals": true,
        "avoidEscape": true
      }
    ]
  }
}
